@import "../../../Scss/ScssMixins.scss";

.coverImg {
  background-color: aliceblue;
  width: 100%;
  background-image: url("../../../Image/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;

  .bgClr {
    background-color: rgba(0, 156, 204, 0.89);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .row {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: space-between;
      width: 1700px;
      margin: 0px 80px;

      .col {
        > h1 {
          color: white;
          margin: 40px 0px;
          font-size: 45px;
          font-weight: 400;
        }

        > p {
          color: aliceblue;
          margin: 40px 0px;
          font-size: 20px;
          font-weight: 400;
        }

        &:nth-child(1) {
          padding: 20px;
          box-sizing: border-box;
          margin: 30px auto 30px auto;
          max-width: 800px;
          box-sizing: border-box;

          > .enrollNowBtn {
            margin: 40px 0px;
            height: 50px;
            width: 160px;
            background-color: aliceblue;
            color: rgb(0, 174, 255);
            font-size: 20px;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        &:nth-child(2) {
          margin: 40px auto;
          position: relative;
          max-width: 600px;
          @include flex(center, center, row, nowrap);
          // background-color: aliceblue;

          .video {
            @include flex(center, center, row, nowrap);
            z-index: 1;
            position: relative;

            &:hover .icon {
              display: block !important;
              color: rgba(240, 248, 255, 0.582);
            }

            &:hover .bg-Color {
              background-color: rgba(0, 0, 0, 0.411);
              backdrop-filter: blur(5);
            }

            > video {
              border-radius: 20px;
              width: 100%;
              position: relative;
            }

            .bg-Color {
              border-radius: 20px;
              height: 100%;
              width: 100%;
              background-color: rgba(0, 0, 0, 0);
              transition: all 0.8s;
              position: absolute;
              z-index: 2;
              @include flex(center, center, row, nowrap);

              .icon {
                display: none;
                font-size: 80px;
              }
            }
          }
        }
      }
    }
  }
}

@import "./ResponsiveStyle.scss";
