.services {
  /* height: 800px; */
  width: 100%;
  background-color: white;
  overflow: hidden;
}

/* title */

.services > h1 {
  text-align: center;
  color: rgb(0, 174, 255);
  font-weight: 500;
}

/* row */

.services > .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* card design */

.services > .row > .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 410px;
  text-align: center;
  padding: 30px;
  /* box-sizing: border-box; */
  background-color: whitesmoke;
  margin: 30px;
  text-align: center;
  transition: all 0.2s;
}

/* card content */

.services > .row > .card > h3 {
  color: rgb(0, 174, 255);
}

/* card design on hover */

.services > .row > .card:hover {
  box-shadow: 5px 5px 20px 1px rgba(0, 136, 255, 0.171);
  cursor: pointer;
}

/* description */

.services > .description-row {
  /* height: 350px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
  /* background-color: antiquewhite; */
}

.services > .description-row:nth-child(2) {
  flex-wrap: wrap-reverse;
}

.services > .description-row > div {
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  /* align-items: center; */
  text-align: center;
}

.services > .description-row > img {
  margin: 10px;
}

.services > .description-row > div > h3 {
  color: rgb(0, 174, 255);
}

@media only screen and (max-width: 600px) {
  .services > h1 {
    margin: 30px;
    font-size: larger;
  }

  .services > .description-row > img {
    max-width: 300px;
  }

  .services .description-row > div {
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  .services .description-row > div > h3 {
    font-size: 15px;
  }

  .services .description-row > div > p {
    text-align: justify;
    max-width: 350px;
  }

  .services > .description-row {
    margin: 10px;
    text-align: center;
  }

  #description {
    order: 2;
  }

  #img {
    order: 1;
    max-width: 250px;
  }
}
